<div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="email" name="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="username" name="username" placeholder="Username" class="form-control" id="" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="password" name="password1" placeholder="Password" class="form-control" id="" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="password" name="password2" placeholder="Confirm Password" class="form-control" id="" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="text" name="first_name" placeholder="First Name" class="form-control" id="" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="text" name="last_name" placeholder="Last Name" class="form-control" id="" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>