{% extends 'snippets/base.html' %}
{% load static %}
{% block content %}
{% include 'snippets/hero.html' %}

<main id="main">
  <section id="addpost" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Adding Post!</h2>
        <p>Please add your post here, you may published or unpublished the post.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
         
            <form action="{% url 'addpost' %}" method="post">
              {% csrf_token %}
            <div class="form-group mt-3 py-3 pr-4">
              <h5>Add Posts!</h5>
                <div class="form-group py-2">
                    <label for="exampleFormControlFile1">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlFile1" name="title">
                </div>
                <div class="form-group py-2">
                    <label for="exampleFormControlFile1">Description</label>
                    <textarea name="description" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group py-2">
                    <label for="exampleFormControlFile1">Published</label>
                    <select class="form-group" name="published">
                      <option value='True'>Yes</option>
                      <option value='False'>No</option>
                    </select>
                </div>
            </div>
            <div class="text-end pb-4"><button type="submit" class="btn btn-success" style="width: 150px;">Add Post</button></div>
          </form>

            <div class="my-3">
              
              <div class="sent-message">
                {% if messages %}
                  <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                {{message}}{% endfor %}
                  </div>
                {% endif %}
                
              </div>
            </div>
            
        </div>
      
        <div class="col-lg-6">
         
          <img src="{% static 'img/features.svg' %}" width="80%" class="mx-auto">
        </div>

        

      </div>

    </div>
  </section>

   
    <!-- End Contact Section -->

  </main>
{% endblock %}
   
