App key: pX24FKZoDxZliIxSRQQyJJpC4RFUyRNePwdgWzv5
Store Secret: v5sP0XXNlY2GmcGH8GKncz91C3A4LZTqkgW3RaRg
Utoken: FvB52lhkqJqk4OV9oGYaXdztGChNsYX58dNTjbsZ


https://api.yotpo.com/apps/app_key/purchases/

{
	"platform": "donald",
	"utoken": "loverboibbboi",
	"email": "loverboi@bbboi.com",
	"customer_name": "bb boi",
	"order_id": "14344",
	"order_date": "2022-02-14",
	"products": {
		"dream cake": {
			"url": "https://laptopmio.myshopify.com/products/msi-ge66-10sfs-072-raider",
			"name": "MSI GE66"

		}
	}
}

